

<ul class="grid-list" *ngFor="let item of gridData; let i = index">
    <li  *ngFor="let column of columns; let k=index" >
      <ng-container *ngFor="let data of item.data let j=index">
        <div (click)="activeOverlay(item.row,column,j)" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
          <button (click)="addRow(item)" *ngIf="k === 0">+</button>
          {{ data[column]  || 'N/A'}}
          <button *ngIf="k === columns.length-1" (click)="deleteRow(item)">x</button>
        </div>
        <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="trigger"
        [cdkConnectedOverlayOpen]="overlayTarget.row === item.row && overlayTarget.column === column && overlayTarget.index === j"
      >
        <ul class="overlay-list">
          <button class="close-btn" (click)="closeOverlay()">x</button>
          <li>{{overlayTarget.title}}</li>
          <li>value : <input (input)="setValue($event)"></li>
          <button class="confirm-btn" (click)="saveValue(item.row, column, j)">확인</button>
        </ul>
      </ng-template>
    </ng-container>
  </li>
</ul>
