.grid-list {
  display: flex;
  margin: 0 20px 0 0;

  li {
    flex:1;
    position: relative;
    .add-sub-list-btn {
      position: absolute;
      top: 0;
      right: -21px;
      border: 1px solid #ececec;
      text-align: center;
      padding: 8px 0;
    }
    .grid-list-item {
      padding: 10px;
      margin: 0;
      border: 1px solid #ececec;

      .merge-cell { 
 
        &:nth-child(1) {
          padding: 10px;
        }
        
      }
    }
 
    
    button {
      display: inline-block;
      background-color: transparent;
      i {
        font-size: 20px;
        color: #cecece;
      }
    }
  }
}