.menu {
  width: 100%;
  height: 100%;
  // background: #DCE35B;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to top, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to top, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .content {
    position: absolute;
    width: 88.5%;
    height: 98%;
    left: 210px;
    top: 10px;
    padding: 20px;
    background-color: #d2d2d245;
    box-shadow: -2px 1px 20px #8f9065ba;
    border-radius: 10px;

    p {
      font-size: 20px;
      color:white;
      text-align: center;
    }
  }
}