<div class="packing-list" cdkDropListGroup>
  <ul class="form-menu">
    <li>PACKING LIST</li>
    <li>COMMERCIAL INVOICE</li>
    <li>직접 입력</li>
  </ul>
  <div class="main-container">
    <div class="packing-list-form">
      <h1>PACKING LIST</h1>
      <div class="form-container">
        <div class="fixed-index-container">
          <ul class="column">
            <ng-container *ngFor="let list of fixedIndex; let index = index;">
              <li [ngClass]="{
                'wide': index === 0 || index === 4 || index === 6 || index === 7 || index === 11, 
                'issuing-bank': index === 3 || index === 11, 
                'small-group': index === 8 || index === 9 || index === 10, 
                'group': index === 12 || index === 13 }"
              >
                <div (click)="activeOverlay(list)" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
                {{list.title}} 
                <!-- <i class="fas fa-pencil-alt"></i> -->
                <p>{{list.value}}</p>
                </div>
                <ng-template
                  cdkConnectedOverlay
                  [cdkConnectedOverlayOrigin]="trigger"
                  [cdkConnectedOverlayOpen]="list.isOpen"
                >
                <div class="overlay-list">
                  <button class="close-btn" (click)="closeOverlay(list)">x</button>
                  <div>Title : <input placeholder={{list.title}}></div>
                  <div>value : <input (input)="setValue($event, list)"/></div>
                  <button class="confirm-btn" (click)="saveValue(list)">확인</button>
                </div>
                </ng-template>
              </li>
            </ng-container>
           
          </ul>
        </div>
  
        <div
          cdkDropList
          [cdkDropListData]="addedFormIndex"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
        <button (click)="paintGrid()">+</button>
          <div class="example-box" *ngFor="let item of addedFormIndex; let i = index" cdkDrag>
            <span>{{item.title}}</span>
          </div>
        </div>
        <ul class="grid">
          <grid-list [category]="addedFormIndex" [gridList]="formData" [columns]="columns" (confirmVal)="saveConfirmedValue($event)" (addList)="addSubList($event)" (deleteList)="deleteList($event)"></grid-list>
        </ul>
      </div>
    </div>
  </div>
</div>


