.reactive-form {
  padding: 20px;
  margin: 0 220px;

  .generator-section {
    float: left;

    .generator {
      // box-shadow: 1px 6px 7px 0px #b1bac0;
      .generator-header{
        padding: 10px;
        font-weight: bold;
        // border-radius: 10px 10px 0 0;
        // background-color: #788a96;
      }
  
      .generator-content {
        border-bottom: 1px solid #ececec;
        padding: 10px;
        margin: 0 0 10px;
        box-shadow: 3px 4px 10px #ececec, -3px -4px 10px #ececec;


        .section-header {
          padding: 10px 0;
          border-bottom: 1px solid #ececec;

          i{
            margin: 0 10px 0 0;
          }

          .circle {
            position: relative;
            display: inline-block;
            top: 3px;
            width: 16px;
            height: 16px;
            margin: 0 10px 0 0;
            border-radius: 8px;
            border: 1px solid #000;

            &::after {
              content: '';
              position: absolute;
              top: 2px;
              left: 2px;
              width: 10px;
              height: 10px;
              border-radius: 8px;
              background-color: #92b2cf;
            }
          }
        }

        .section-contents {
          padding: 10px 0;

          label {
            font-size: 12px;
          }
          span{
            color: #c23616;
          }
          input[type="text"] {
            display: block;
            width: 100%;
            padding: 5px;
          }

          ul {
            li {
              &.default {
                padding: 0 5px;
                p {
                  margin: 10px 0 5px;
                  font-size: 13px;
                }
              }
            }
          }
        }



        .validation-options {
          font-size: 12px;

          p {
            margin: 0 0 0 6px;
            font-weight: bold;
          }
          ul {
            display: flex;
            justify-content: space-around;
          }
        }

        .input-validation-options {
          font-size: 12px;

          p {
            font-weight: bold;
          }
          ul {
            li {
              margin: 0 0 2px;
              &.length {
                display: flex;
                justify-content: space-between;
              }
            }
          }

        }

        .options {
          display: flex;
          padding: 10px;
          margin: 0 0 10px;
  
          li {
            margin: 0 20px;
          }
        }
        .vali-options {
          padding: 0 10px;
  
          .option {
            margin: 15px 20px;
            label {
              display: block;
            }
          }
        }
      }
      .generator-btn {
        padding: 10px 0;
        text-align: center;
  
        button {
          padding: 10px;
          background-color: #fff;
          border-radius: 20px;
          box-shadow: 0px 2px 8px 0px #b1bac0;
        }
      }
    }

  
    .button-container {
      margin: 30px 0;
      padding: 20px;
      box-shadow: 0px 2px 11px #bebdbd;

      p {
        font-size: 13px;
        font-weight: bold;
      }
      button {
        margin: 0 10px 0 0;
        padding: 10px;
        text-align: center;
        border: 1px solid #ececec;
        // color:#ececec;

        border-radius: 5px;
        background-color: transparent;
        box-shadow: 1px 1px 0px #353434, 1px 2px 0 #000;
  
        &:hover {
          box-shadow: 1px 1px 0px #353434, 1px 2px 8px #000;
        }
  
        &.mark-btn {
          background-color: rgb(111, 165, 209);
        }
        &.disable-btn {
          background-color: rgb(137, 139, 141);
        }
        &.enable-btn {
          background-color: rgb(103, 138, 165);
        }
      }
    }
  
  }

  
  .test-form {
    width: calc(100% - 164px);
    margin: 57px 0 0 375px;

    .cbx {
      margin: 0 10px 0 0;
    }

    .form-info {
      position: relative;
      // padding: 20px;
      margin: 0 0 20px;
      border: 1px solid #c2c1c1;

      .form-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 9px;
        background: #ececec;
        p {
          margin: 0;
          font-size: 15px;
          font-weight: bold;
        }
        .buttons {
          .btn {
            border-radius: 5px;
            font-size: 12px;
            color: #eee;      
            cursor: pointer;
          
            &.delete-btn {
              padding: 6px 9px;
              background-color: #b84545;
            }
            &.edit-btn {
              margin: 0 10px 0 0;
              padding: 6px 17px;
              background-color: #dab550;
            }
          }
        }
      }

      .form-content {
        display: flex;

        .validation-info {
          border-left: 1px solid #ececec;
          padding: 10px;

          .title {
            font-weight: bold;
            font-size: 12px;
          }
        }

        .form-case {
          .test {
            border-bottom: 1px solid #ececec;
          }
          .input-case {
            padding: 10px 19px;
    
            label {
              margin: 0 10px 0 0;
            }
            input[type="text"] {
              width: 94%;
              padding: 5px;
            }
          }

          .checkbox-case, .radio-case {
            padding: 10px 0 0;
            text-align: center;
          }

          .status {
            margin: 10px 0;
            padding: 0 20px;
      
            .title {
              margin: 10px 0 0;
              font-weight: bold;
              font-size: 12px;
            }

            ul {
              display: flex;
        
              li {
                margin: 0 10px 0 0;
                width: 90px;
                padding: 3px 0;
                text-align: center;
                border: 1px solid #000;
                border-radius: 5px;
                cursor: default;
                opacity: 0.2;
      
                &.valid {
                  box-shadow: inset -1px -1px 3px #92b2cf;
                  opacity: 1;
      
                }
                &.invalid{
                  border: 1px solid #b84545;
                  box-shadow: inset -1px -1px 3px #95767b;
                  opacity: 1;
      
                }
                &.touched{
                  border: 1px solid #dab550;
                  box-shadow: inset -1px -1px 3px #cad962;
                  opacity: 1;
      
                }
                &.dirty{
                  border: 1px solid #93629c;
                  box-shadow: inset -1px -1px 3px #aa89b1;
                  opacity: 1;
      
                }
                &.pristine{
                  border: 1px solid #db6b8d;
                  box-shadow: inset -1px -1px 3px #cc98b5;
                  opacity: 1;
      
                }
                &.pending {
                  border: 1px solid #2a7c6a;
                  box-shadow: inset -1px -1px 3px #566671;
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }

  .error {
    border: 1px solid #b84545;
  }
  
}
