<div class="reactive-form" [formGroup]="createFormInfo">
  <h1>Reactive Forms Status</h1>

  <div class="generator-section" >
    <div class="generator">
      <div class="generator-header">Create Form Elements</div>

      <div class="generator-content">
        <div class="section-header">
          <span>Form Title</span>
        </div>
        <div class="section-contents">
          <span>*</span>
          <label for="form-title">Title</label>
          <input [ngClass]="{'error': createFormInfo.get('formTitle')?.hasError('required')}" type="text" id="form-title" formControlName="formTitle"/>
        </div>
      </div>

      <div class="generator-content">
        <div class="section-header">
          <span>Type</span>
        </div>
        <div class="section-contents">
          <ul>
            <li class="option">
              <input type="radio" id="type-input" [checked]="createFormInfo.get('formType')?.value === 'input'">
              <label class="cbx" for="type-input" (click)="selectFormTypeAsInput()">Input</label>
            </li>

            <li class="option">
              <input type="radio" id="type-checkBox" [checked]="createFormInfo.get('formType')?.value === 'checkbox'">
              <label class="cbx" for="type-checkBox" (click)="selectFormTypeAsCheckBox()">CheckBox</label>
            </li>

            <li class="option">
              <input type="radio" id="type-radio" [checked]="createFormInfo.get('formType')?.value === 'radio'">
              <label class="cbx" for="type-radio" (click)="selectFormTypeAsRadio()">Radio</label>
            </li>
          </ul>
        </div>
      </div>

      <!-- Input -->
      <div class="generator-content" formGroupName="formInfoByType" *ngIf="createFormInfo.get('formType')?.value === 'input'">
        <div class="section-header">
          <i class="fas fa-font"></i>
          <span>Input</span>
        </div>
        <div class="section-contents">
          <ul>
            <li>
              <span>*</span>
              <label for="label-text">Label</label>
              <input [ngClass]="{'error': formInfoByType.get('labelName')?.hasError('required')}" type="text" id="label-text" formControlName="labelName">
            </li>

            <li>
              <label for="label-text">Default Value</label>
              <input type="text" id="label-text" formControlName="defaultValueTxt">
            </li>

            <li>
              <label for="label-text">Place holder</label>
              <input type="text" id="label-text" formControlName="placeHolder">
            </li>
          </ul>
        </div>
        <div class="input-validation-options" formGroupName="validation">
          <p>Validation Settings</p>
          <ul>
            <li class="option">
              <input type="checkbox" id="required-input" formControlName="isRequired">
              <label class="cbx" for="required-input" (click)="checkRequired()">Required</label>
            </li>
            <li class="option">
              <input type="checkbox" id="read-only-input" formControlName="isReadOnly">
              <label class="cbx" for="read-only-input" (click)="checkReadOnly()">Read Only</label>
            </li>
            <li class="option length">
              <input type="checkbox" id="min-length" [checked]="validationFormGroup.get('minLength')?.value">
              <label class="cbx" for="min-length">Min Length</label>
              <input type="text" id="min-length" formControlName="minLength">
            </li>
            <li class="option length">
              <input type="checkbox" id="max-length" [checked]="validationFormGroup.get('maxLength')?.value">
              <label class="cbx" for="max-length">Max Length</label>
              <input type="text" id="max-length" formControlName="maxLength">
            </li>
          </ul>
        </div>
      </div>

      <!-- Checkbox -->
      <div class="generator-content" formGroupName="formInfoByType" *ngIf="createFormInfo.get('formType')?.value === 'checkbox'">
        <div class="section-header">
          <i class="far fa-check-square"></i>
          <span>CheckBox</span>
        </div>
        <div class="section-contents">
          <ul>
            <li>
              <span>*</span>
              <label for="label-text">Label</label>
              <input [ngClass]="{'error': formInfoByType.get('labelName')?.hasError('required')}" type="text" id="label-text" formControlName="labelName">
            </li>

            <li class="default">
              <p>Default Value</p>
              <div class="default-option">
                <input type="radio" id="checked-radio" [checked]="formInfoByType.get('isChecked')?.value">
                <label class="cbx" for="checked-radio">checked</label>
              </div>
              <div class="default-option">
                <input type="radio" id="unChecked-radio" [checked]="!formInfoByType.get('isChecked')?.value">
                <label class="cbx" for="unChecked-radio">unChecked</label>
              </div>
            </li>
          </ul>

        </div>
        <div class="validation-options" formGroupName="validation">
          <p>Validation Settings</p>
          <ul>
            <li class="option">
              <input type="checkbox" id="required" formControlName="isRequired">
              <label class="cbx" for="required" (click)="checkRequired()">Required</label>
            </li>
            <li class="option">
              <input type="checkbox" id="read-only" formControlName="isReadOnly">
              <label class="cbx" for="read-only" (click)="checkReadOnly()">Read Only</label>
            </li>
          </ul>
        </div>
      </div>

      <!-- Radio -->
      <div class="generator-content" formGroupName="formInfoByType" *ngIf="createFormInfo.get('formType')?.value === 'radio'">
        <div class="section-header">
          <div class="circle"></div>
          <span>Radio</span>
        </div>
        <div class="section-contents">
          <ul>
            <li>
              <span>*</span>
              <label for="label-text">Label</label>
              <input [ngClass]="{'error': formInfoByType.get('labelName')?.hasError('required')}" type="text" id="label-text" formControlName="labelName">
            </li>

            <li class="default">
              <p>Default Value</p>
              <div class="default-option">
                <input type="radio" id="checked-radio" [checked]="formInfoByType.get('isChecked')?.value">
                <label class="cbx" for="checked-radio">checked</label>
              </div>
              <div class="default-option">
                <input type="radio" id="unChecked-radio" [checked]="!formInfoByType.get('isChecked')?.value">
                <label class="cbx" for="unChecked-radio">unChecked</label>
              </div>
            </li>
          </ul>

        </div>
        <div class="validation-options" formGroupName="validation">
          <p>Validation Settings</p>
          <ul>
            <li class="option">
              <input type="checkbox" id="required" formControlName="isRequired">
              <label class="cbx" for="required" (click)="checkRequired()">Required</label>
            </li>
            <li class="option">
              <input type="checkbox" id="read-only" formControlName="isReadOnly">
              <label class="cbx" for="read-only" (click)="checkReadOnly()">Read Only</label>
            </li>
          </ul>
        </div>
      </div>
  
      <div class="generator-btn">
        <button (click)="createForm()">Generate</button>
      </div>
    </div>
  
    <div class="button-container">
      <p>Apply All</p>
      <button class="mark-btn" (click)="markAllAsTouched()">markAllAsTouched</button>
      <button class="disable-btn" (click)="disableForm()">disable</button>
      <button class="enable-btn" (click)="enableForm()">enable</button>
    </div>
  </div>

  <!-- 리스트 항목 -->
  <div class="form-list" [formGroup]="generatedForms">
    <ul class="test-form" formArrayName="forms">
      <li class="form-info" *ngFor="let form of forms.controls; let formIdx=index" >
        <div class="form-title" [formGroupName]="formIdx">
          <p>{{ form.get('formTitle')?.value}}</p>

          <div class="buttons">
            <button class="edit-btn btn" (click)="deleteForm(formIdx)">Edit</button>
            <button class="delete-btn btn" (click)="deleteForm(formIdx)">Delete</button>
          </div>
        </div>

        <div class="form-content" [formGroupName]="formIdx">
          <div class="form-case" formGroupName="formInfoByType">
            <!-- Input -->
            <div class="input-case test" *ngIf="form.get('formType')?.value === 'input'">
              <label for="test-input">{{form.get('formInfoByType')?.get('labelName')?.value}}</label>
              <input type="text" id="test-input" placeholder="{{form.get('formInfoByType')?.get('placeHolder')?.value}}" formControlName="valueTxt">
            </div>
            <!-- checkBox -->
            <div class="checkbox-case test" *ngIf="form.get('formType')?.value === 'checkbox'">
              <input type="checkbox" id="test-checkbox">
              <label class="cbx" for="test-checkbox">{{form.get('formInfoByType')?.get('labelName')?.value}}</label>
            </div>
            <!-- Radio -->
            <div class="radio-case test" *ngIf="form.get('formType')?.value === 'radio'">
              <input type="radio" id="test-radio">
              <label class="cbx" for="test-radio">{{form.get('formInfoByType')?.get('labelName')?.value}}</label>
            </div>
  
  
            <div class="status">
              <p class="title">STAUTS</p>
              <ul>
                <li *ngFor="let status of statusItems">
                  <div class="status-text" [ngClass]="{
                    'valid':form.get('formInfoByType')?.get('valueTxt')?.valid && status.status ==='valid', 
                    'invalid':form.get('formInfoByType')?.get('valueTxt')?.invalid && status.status ==='invalid',
                    'touched':form.get('formInfoByType')?.get('valueTxt')?.touched && status.status ==='touched',
                    'dirty':form.get('formInfoByType')?.get('valueTxt')?.dirty && status.status ==='dirty',
                    'pristine':form.get('formInfoByType')?.get('valueTxt')?.pristine && status.status ==='pristine',
                    'pending':form.get('formInfoByType')?.get('valueTxt')?.pending && status.status ==='pending'
                  }">
                    {{status.status}}
                  </div>
                  <div class="tooltip">{{status.desc}}</div>
                </li>
              </ul>
            </div> 
          </div>
  
          
  
          <div class="validation-info">
            <p class="title">VALIDATION</p>
            <ul>
              <li *ngIf="form.get('formInfoByType')?.get('validation')?.get('isRequired')?.value">
                <input type="checkbox" id="validation-required" disabled>
                <label class="cbx" for="validation-required">Required</label>
              </li>
              <li *ngIf="form.get('formInfoByType')?.get('validation')?.get('isReadOnly')?.value"> 
                <input type="checkbox" id="validation-readOnly" disabled>
                <label class="cbx" for="validation-readOnly">Read Only</label>
              </li>
              <li *ngIf="form.get('formInfoByType')?.get('validation')?.get('minLength')?.value">
                <input type="checkbox" id="validation-minLength" disabled>
                <label class="cbx" for="validation-minLength"> Min Length : {{form.get('formInfoByType')?.get('validation')?.get('minLength')?.value}}</label>
              </li>
              <li *ngIf="form.get('formInfoByType')?.get('validation')?.get('maxLength')?.value"> 
                <input type="checkbox" id="validation-maxLength" disabled>
                <label class="cbx" for="validation-maxLength"> Min Length : {{form.get('formInfoByType')?.get('validation')?.get('maxLength')?.value}}</label>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>


