.about-form {
  padding: 20px;

  .example {
    margin: 20px;
    .status {
      margin: 10px 0;

      p {
        margin: 10px 0 0;
      }
      ul {
        display: flex;
  
        li {
          margin: 0 10px 0 0;
          width: 100px;
          padding: 3px 0;
          text-align: center;
          border: 1px solid #000;
          border-radius: 5px;
          cursor: default;
          opacity: 0.2;

          &.valid {
            // border: 1px solid #4580b8;
            // background-color: #92b2cf;
            box-shadow: inset -1px -1px 3px #92b2cf;
            opacity: 1;

          }
          &.invalid{
            border: 1px solid #b84545;
            box-shadow: inset -1px -1px 3px #95767b;
            opacity: 1;

          }
          &.touched{
            border: 1px solid #dab550;
            box-shadow: inset -1px -1px 3px #cad962;
            opacity: 1;

          }
          &.dirty{
            border: 1px solid #93629c;
            box-shadow: inset -1px -1px 3px #aa89b1;
            opacity: 1;

          }
          &.pristine{
            border: 1px solid #db6b8d;
            box-shadow: inset -1px -1px 3px #cc98b5;
            opacity: 1;

          }
          &.pending {
            border: 1px solid #2a7c6a;
            box-shadow: inset -1px -1px 3px #566671;
            opacity: 1;

          }
        }
      }
    }
  }
  
  .button-container {
    padding: 0 20px;
    // margin: 52px 0 0 10%;
    button {
      margin: 0 20px 0 0;
      padding: 10px;
      text-align: center;
      border: 1px solid #ececec;
      color:#ececec;
      border-radius: 5px;
      background-color: transparent;
      box-shadow: 1px 1px 0px #353434, 1px 2px 0 #000;

      &:hover {
        box-shadow: 1px 1px 0px #353434, 1px 2px 8px #000;
      }

      &.mark-btn {
        background-color: rgb(62, 123, 173);
      }
      &.disable-btn {
        background-color: rgb(71, 80, 87);
      }
      &.enable-btn {
        background-color: rgb(103, 138, 165);
      }
    }
  }

  
}
