<div class="monitoring">
  <nav>
    <ul>
      <li class="active"> 
        <a>
          <i class="far fa-envelope"></i>
        </a>
      </li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </nav>

  <div class="monitoring-container">
    <ul class="tap">
      <li class="active">수집 메세지 발송</li>
      <!-- <li>크롤러 배포 관리</li> -->
    </ul>
    <div class="form">
      <div class="ocean-line">
        <p (click)="openOceanLineList()">{{selectedOceanLine}}<i class="fas fa-chevron-down"></i></p>
        <ul *ngIf="showOceanLineList">
          <li></li>
        </ul>
      </div>
      
      <div class="priority">
        <p  (click)="openPriorityList()">{{selectedPriority}}<i class="fas fa-chevron-down"></i></p>
        <ul *ngIf="showPriorityList">
          <li *ngFor="let op of priorityOp; let i=index;">{{op}}</li>
        </ul>
      </div>

    </div>
    <textarea name="bl" id="bl" cols="249" rows="43" placeholder="B/L 번호를 입력해 주세요."></textarea>
    <button class="send-btn">메세지 발송</button>
  </div>
</div>