// .create-documnet {
//   width: 80%;
//   margin: 0 auto;
//   padding: 20px;
//   .layer {
//     display: flex;
//     li {
//       flex: 50%;
//       border: 1px solid #ececec;
//       width: 50%;
//     }

//     &.three-item-layer {
//       height: 100px;
//       flex-direction: column;
//       flex-wrap: wrap-reverse;

//       li {
//         &:nth-child(3) {

//           border-right: none;
//         }
        
//       }
//     }

//     &.third-layer {
//       height: 100px;

//       li {
//         &:nth-child(1) {

//           border-right: none;
//         }
//       }
//     }
    
//   }

//   .fourth-layer {
//     height: 155px;
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;

//     li {
//       flex: 1 1 40px;
//     border: 1px solid #ececec;
      
//     }
//   }
// }

.create-document {
  padding: 20px;
  width: 100%;

  display: flex;
  .document {
    width: 75%;
    .layer {
      display: flex;
      
      ul {
        flex: 50%;
      }
      .right-layer {
        li {
          height: 200px;
          border: 1px solid #ececec;
          .header {
            .title {
              padding: 10px 5px;
            }
            .content {
              margin: 20px 0 0 ;
              input {
                display: block;
                width: 100%;
                border: none;
                padding: 5px;
              }
            }

          }
          &.group {
            height: 100px;
            display: flex;
            .item {
              flex: 1;
              &:nth-child(2) {
                border-right: 1px solid #ececec;
                border-left: 1px solid #ececec;
              }
            }
          }
        }
      }
      .left-layer {
        li {
          height: 100px;
          border: 1px solid #ececec;
          .header {
            .title {
              padding: 10px 5px;
            }
            .content {
    
              input {
                display: block;
                width: 100%;
                border: none;
                padding: 5px;
              }
            }

          }
          &:nth-child(5){
            height: 200px;
          }
          &:nth-child(6) {
            height: 200px;
          }
        }
      }
    }
    .grid-header {
      width: 100%;
  
      .example-list {
        display: flex;
        margin: 20px 0 0;
        padding: 20px 0 0;
        border-top: 1px solid black;
      }
      .drag-box {
        padding: 10px 20px;
        flex:1;
        border: 1px solid #ececec;
      }
  
    }
    .grid {
  
      margin: 0 0 20px;
      padding: 0 0 20px;
      height: 300px;
      overflow-y: auto;
      overflow-x: hidden;
      border: 1px solid #ececec;
    }
  }
  

  .column-controller {
    height: 200px;
    padding: 20px;
    margin: 0 20px 0 0;
    border: 1px solid #ececec;

  }
}