<div class="create-document">
  <div class="layer">
    <ul class="right-layer">
      <li *ngFor="let item of right">{{item.order}}.{{item.title}}</li>
      <li class="group">
        <div *ngFor="let item of middle">
          {{item.order}}.{{item.title}}
        </div>
      </li>
      <li class="group">
        <div  *ngFor="let item of bottom">
          {{item.order}}.{{item.title}}
        </div>
      </li>
    
    </ul>
    <ul class="left-layer">
      <li *ngFor="let item of left">  {{item.order}}.{{item.title}}</li>
    </ul>
  </div>

  <div class="grid-header">
    <div
    cdkDropList
    [cdkDropListData]="addedFormIndex"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
    >
    <div class="drag-box" *ngFor="let item of addedFormIndex; let i = index" cdkDrag>
      <span>{{item.title}}</span>
    </div>
    <button (click)="paintGrid()">+</button>
  </div>

  <ul class="grid">
    <grid-list [category]="addedFormIndex" [columns]="columns" [gridList]="gridData" (confirmVal)="saveConfirmedValue($event)" (addList)="addSubList($event)" (deleteList)="deleteList($event)"></grid-list>
  </ul>

</div>

