<div class="create-document">
  <div class="column-controller no-print">
    <div class="header ">활성 가능 항목</div>
    <ul>
      <li *ngFor="let item of exceptionList">
        <input type="checkbox" id="active-cbx" name="active-cbx">
        <label class="cbx" for="active-cbx" (click)="activeColumn(item)" *ngIf="item.order < 14">{{item.title}}</label>
        <label class="cbx" for="active-cbx" (click)="activeGridColumn(item)" *ngIf="item.order > 13">
          {{item.title}}
        </label>
      </li>
    </ul>
  </div>
  <div class="document">
    <div class="layer">
      <ul class="right-layer">
        <li class="item" *ngFor="let item of addressNeededCol">
          <div class="header">
            <div class="title">{{item.order}}.{{item.title}}</div>
            <div class="content">
              <input type="text" placeholder="회사명">
              <input type="text" placeholder="주소">
              <input type="text" placeholder="상세주소">
              <input type="text" placeholder="TEL/E-mail">
              <input type="text" placeholder="기타">
            </div>
          </div>
        </li>

        <li class="group">
          <div class="item" *ngFor="let item of middle">
            <div class="header">
              <div class="title">{{item.order}}.{{item.title}} <button class="no-print" *ngIf="item.order === 5.1" (click)="disableColumn(item)">x</button></div>
              <div class="content">
                <input type="text" placeholder="입력">
              </div>
            </div>
          </div>
        </li>
        <li class="group">
          <div  class="item"  *ngFor="let item of bottom">
            <div class="header">
              <div class="title">{{item.order}}.{{item.title}}</div>
              <div class="content">
                <input type="text" placeholder="입력">
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul class="left-layer">
        <li  class="item" *ngFor="let item of left">
          <div class="header">
            <div class="title">{{item.order}}.{{item.title}}</div>
            <div class="content">
              <input type="text" placeholder="입력">
              <input type="text" placeholder="입력" *ngIf="item.order === 8 || item.order === 12 || item.order === 13">
            </div>
          </div>
        </li>
      </ul>
    </div>
  
    <div class="grid-header">
      <div
      cdkDropList
      [cdkDropListData]="addedFormIndex"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
      >
      <div class="drag-box" *ngFor="let item of addedFormIndex; let i = index" cdkDrag>
        <span>{{item.title}}</span>
        <button class="no-print" *ngIf="item.key === 'palletNo'" (click)="enableGridColumn(item)">x</button>
      </div>
      <button class="no-print" (click)="paintGrid()">+</button>
    </div>
  
    <ul class="grid">
      <grid-list [category]="addedFormIndex" [columns]="columns" [gridList]="gridData" (confirmVal)="saveConfirmedValue($event)" (addList)="addSubList($event)" (deleteList)="deleteList($event)"></grid-list>
    </ul>
  </div>
</div>

