<div class="register">
  <h1>회원 가입</h1>

  <form class="login-form">
    <div class="form-input">
      <label for="email">이메일</label>
      <input id="email" type="email" autocomplete>
    </div>
    <div class="form-input">
      <label for="password">비밀번호</label>
      <input id="password" type="password" autocomplete>
    </div>
    <div class="form-input">
      <label for="password-confirm">비밀번호 확인</label>
      <input id="password-confirm" type="password-confirm" autocomplete>
    </div>
    <div calss="form-input">
      <div class="name-input">
        <label for="surname">성(Last Name)</label>
        <input id="surname" type="text">
      </div>
      <div class="name-input">
        <label for="name">이름(First Name)</label>
        <input id="name" type="text">
      </div>
    </div>
  </form>
</div>
