
<div class="login">
  <h1>Log In</h1>
  <p>Are you ready to make a Lemonade? <br /> Let's make a lemonade !!</p>

  <form class="login-form">
    <div class="form-input">
      <label for="email">Email</label>
      <input id="email" type="email" autocomplete [formControl]="email">
    </div>
    <div class="form-input">
      <label for="password">Password</label>
      <input id="password" type="password" autocomplete [formControl]="password">
    </div>
  </form>

  <div class="option">
    <div class="remember">
      <input type="checkbox" id="remember-cbx" name="remember-cbx">
      <label class="cbx" for="remember-cbx">Remember Me</label>
    </div>
    <div class="flex-spacer"></div>
    <div class="find-password">
      <a>Forgot Password?</a>
    </div>
  </div>
  <button (click)="checkValidation()">Login to Make a Lemonade</button>
  <div class="register">
    <p>Not a member yet? <a routerLink="/register">Register Now</a></p>

  </div>
</div>
 

