
* {
  box-sizing: border-box;
}
@media print {
  @page { 
    size:  A4 portrait;
    margin: 0mm; // added mm
    page-break-after: [always];

  }
  body { 
    margin: 2cm;
    overflow: hidden;
  }
  header, footer, .no-print { display:none }
 
  
}
.cdk-overlay-container {
  .cdk-overlay-connected-position-bounding-box {
    .cdk-overlay-pane{
      height: 124px;
      background: #fff;
      padding: 10px 20px;
      box-shadow: 0px 4px 8px #cec5c5;
      margin: 16px 0;

      .close-btn {
        position: absolute;
        top: -8px;
        right: -9px;
        width: 30px;
        height: 30px;
        border-radius: 20px;
        background: red;
        color: white;
      }
      li {
        padding: 10px 0;
        &:nth-child(1) {
          border-bottom: 1px solid #ececec;
        }
      }
    }
  }
}

html,body {
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

ul,li,ol {
  padding:0;
  margin:0;
  list-style: none;
}

h1,h2,h3,h4,p {
  margin:0;
  padding:0;
  font-size: 100%;
  font: inherit;
}

button, input {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .cbx {
  &::after {
    content: "\f00c";
    font-family: "FontAwesome";
    position: absolute;
    left: -15px;
    top: 1px;
    font-size: 11px;
    color: #963131;
  }
}

.cbx {
  position: relative;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    left: -15px;
    top: 2px;
    width: 9px;
    height: 9px;
    border: 1px solid black;
    border-radius: 2px;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
