<!-- <nav *ngIf="isLoggedIn$ | async"> -->
<nav>
  <div class="logo">
    <div class="logo-title">Lemonade</div>
  </div>
  <ul>
    <li *ngFor="let menu of navMenus; let navIdx=index;">
      <!-- routerLinkActive 디렉티브를 통해서 route 활성화 여부를 체크하여 클래스를 세팅해 줄 수 있다. -->
      <!-- To add the classes only when the URL matches the link exactly, add the option exact: true: -->
      <a routerLink="{{menu.routerLink}}" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
        <i class="{{menu.icon}}"></i>
        <span>{{menu.title}}</span>
      </a>

      <!-- class를 여려개 세팅해 줄 수도 있다. -->

      <!-- <a routerLink="{{menu.routerLink}}" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active class2">
        <i class="{{menu.icon}}"></i>
        <span>{{menu.title}}</span>
      </a> -->

      <!-- <a routerLink="{{menu.routerLink}}" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active', 'class2']">
        <i class="{{menu.icon}}"></i>
        <span>{{menu.title}}</span>
      </a> -->
    </li>
  </ul>
</nav>
