nav {
  float: left;
  width: 200px;
  height: 100%;
  // height: 64%;
  // left: 20%;
  // top: 16%;
  padding: 20px 0;
  background-color: #d2d2d245;
  box-shadow: -2px 1px 20px #8f9065ba;
  // border-radius: 10px;

  li {
    margin: 0 0 20px 0;
    padding: 0 20px;
    color: white;

    i {
      font-size: 15px;
      margin: 0 15px 0 0;
    }

    a {
      &.active {
        padding: 10px 40px;
        background-color: #f5f5f575;
        box-shadow: 0px 2px 5px #8f9065ba;
        border-radius: 10px;
        transition: all 0.5s ease;
        color: white;
        font-weight: bold;
        font-size: 14px;
      } 
    }

    &.logo {
      font-size: 25px;
      margin: 0 0 50px;
    }

    &.user {
      position: absolute;
      bottom: 50px;
      padding: 20px 0 0 20px;
      margin: 0;
      // border-top: 1px solid white;
      cursor: pointer;
      color: white;
  
      .fa-user-circle {
        font-size: 25px;
        margin: 0 10px 0 0;
      }
  
      span {
        position: relative;
        top: -3px;
        margin: 0 30px 0 0;
      }
  
      .fa-sign-out-alt {
        font-size: 18px;
        opacity: 0.5;
  
        &:hover {
          opacity: 1;
          transition: opacity 0.5s ease;
        }
      }
    }
  }
}