<nav *ngIf="isLoggedIn$ | async">
  <ul>
    <li class="logo"> Lemonade </li>
    <li> 
      <a routerLink="/home" [routerLinkActiveOptions]="{ exact: true}" routerLinkActive="active">
        <i class="fas fa-home"></i>
        <span>HOME</span>
      </a>
    </li>
    <li>
      <a routerLink="/menu1" [routerLinkActiveOptions]="{ exact: true}"  routerLinkActive="active">
        <i class="fas fa-archive"></i>
        <span>MENU1</span>
      </a>
    </li>
    <li>
      <a routerLink="/menu2" [routerLinkActiveOptions]="{ exact: true}"  routerLinkActive="active">
        <i class="far fa-address-book"></i>
        <span>MENU2</span>
      </a>
    </li>
    <li> 
      <a routerLink="/menu3" [routerLinkActiveOptions]="{ exact: true}"  routerLinkActive="active">
        <i class="far fa-bookmark"></i>
        <span>MENU3</span>
      </a>
    </li>
    <li> 
      <a routerLink="/menu4" [routerLinkActiveOptions]="{ exact: true}"  routerLinkActive="active">
        <i class="fab fa-angular"></i>
        <span>MENU4</span>
      </a>
    </li>
    <li> 
      <a routerLink="/menu5" [routerLinkActiveOptions]="{ exact: true}"  routerLinkActive="active">
        <i class="far fa-check-square"></i>
        <span>MENU5</span>
      </a>
    </li>
    <li class="user"> 
      <i class="fas fa-user-circle"></i>
      <span>{{userNm}}</span>
      <a (click)="onLogout()">
        <i class="fas fa-sign-out-alt"></i>
      </a>
    </li>
  </ul>
</nav>
