nav {
  position: absolute;
  width: 200px;
  /* height: 100%; */
  bottom: 0;
  top: 0;
  padding: 20px 0;
  background-color: #d2d2d245;
  box-shadow: -2px 1px 20px #8f9065ba;

  .logo {
    .logo-title {
      position: absolute;
      top: 18px;
      left: 20px;
    }

    font-size: 25px;
    margin: 0 0 50px;
    position: relative;
    width: 49px;
    height: 50px;
    left: 25px;
    top: -30px;
    margin: 20px 0;
    box-shadow: inset 10px 10px 10px rgb(0 0 0 / 5%), 8px 9px 10px rgb(0 0 0 / 5%), 15px 20px 20px rgb(0 0 0 / 5%), inset -10px -10px 15px rgb(255 255 255 / 90%);
    border-radius: 50%;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      top: 19px;
      left: 6px;
      background-color: #fff;
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      width: 7px;
      height: 7px;
      top: 9px;
      left: 17px;
      background-color: #fff;
      border-radius: 50%;
    }

    i {
      position: absolute;
      font-size: 18px;
      top: 28px;
      left: 30px;
      color: #444;

      &:nth-child(1) {
        left: 27px;
      }
      &:nth-child(2) {
        left: 29px;
      }
      &:nth-child(3) {
        left: 29px;
      }
    }
  }

  ul {
    text-align: center;
    li {
      i {
        margin: 0 10px 0 0;
      }

      &:hover {
        color: #487eb0;
      }
      a {
        &.active {
          color: #487eb0;
        }
      }
    }
  }

}